<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Simple Flask App</title>
</head>
<body>
  <!-- Favicon -->
  <link href="{{ url_for('static', filename='assets/img/favicon.png') }}" rel="icon">
  <link href="{{ url_for('static', filename='assets/img/apple-touch-icon.png') }}" rel="apple-touch-icon">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/icofont/icofont.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/animate.css/animate.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/owl.carousel/assets/owl.carousel.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/venobox/venobox.css') }}" rel="stylesheet">
  
  <!-- Template Main CSS File -->
  <link href="{{ url_for('static', filename='assets/css/style.css') }}" rel="stylesheet">

  <!-- Header section -->
  <header id="header">
    <div class="container d-flex">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href="{{ url_for('simple_flask.index') }}"><span>Simple Flask App</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <!-- navbar section -->
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          
          {% if current_user.is_authenticated %}
          <li class="active"><a href="{{ url_for('simple_flask.index') }}">Home</a></li>
          <li><a href="{{ url_for('simple_flask.public_post') }}">Public Post</a></li>
          <li><a href="{{ url_for('simple_flask.image_list') }}">Image List</a></li>
          <li><a href="{{ url_for('users.show_profile') }}">Profile User</a></li>
          
          <li class="drop-down"><a href="">Admin Menu</a>
            <ul>
              <li><a href="{{ url_for('simple_flask.add_posts') }}">Add New Post</a></li>
              <li><a href="{{ url_for('simple_flask.all_public_user_posts') }}">Users Post</a></li>
              <li class="drop-down"><a href="{{ url_for('users.admin_view_user') }}">User List</a></li>
              <li><a href="{{ url_for('users.show_logout') }}">Logout</a></li>
            </ul>
          </li>

          {% else %}
          <li class="active"><a href="{{ url_for('simple_flask.index') }}">Home</a></li>
          <li><a href="{{ url_for('simple_flask.public_post') }}">Public Post</a></li>
          <li><a href="{{ url_for('simple_flask.image_list') }}">Image List</a></li>
          <li><a href="{{ url_for('users.show_login') }}">Login</a></li>
          <li><a href="{{ url_for('users.register') }}">Register</a></li>
          {% endif %}
            
          
        </ul>
      </nav>
      <!-- end navbar section -->
  </header>
  <!-- end header section -->
  
  
  {% block contents %}
    
  {% endblock contents %}


  <!-- Javascript sources -->

  <script src="{{ url_for('static', filename='assets/vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/jquery.easing/jquery.easing.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/jquery-sticky/jquery.sticky.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/waypoints/jquery.waypoints.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/counterup/counterup.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/owl.carousel/owl.carousel.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/venobox/venobox.min.js') }}"></script>

  <!-- Template Main JS File -->
  <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
</body>
</html>