{% extends "apps_templates.html" %}

{% block contents %}
  <div class="conteiner">
    {{super()}}
    <div class="row">
        <div class="page-header">
            <h4>Edit Book Page</h4>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-heading"></div>
                    <div class="card-body">
                        <form action="{{url_for('simple_flask.edit_posts', post_id=posts.Simple_Flask_App.id)}}" method="post">
                            {{form.csrf_token}}
                            {{form.post_title(value=posts.Simple_Flask_App.post_title)}}
                            {{form.post_detail(value=posts.Simple_Flask_App.post_detail)}}
                            <button class="btn btn-sm btn-success" type="submit">Update Post</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
{% endblock contents %}