{% extends "apps_templates.html" %}


{% block contents %}
<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for image in image_list %}
          <div class="col">
              <div class="card">
                  <img class="card-img-top" src="{{url_for('simple_flask.display_name', filename=image)}}" alt="{{image.filename}}" srcset="">
                  <h5>File Name: {{image}}</h5>
              </div>
          </div>
        {% endfor %}
    </div>
</div>
{% endblock contents %}