{% extends "apps_templates.html" %}

{% block contents %}
    <!--  tabel-->
    <table class="table">
      <thead>
        <tr>
          <th scope="col">No. </th>
          <th scope="col">Posts List</th>
          <th scope="col">Posts Detail</th>
        </tr>
      </thead>
        <tbody>
          {% for post in all_posts %}
            <tr>
              <th scope="row">{{loop.index}}</th>
              <td>{{post.post_title}}</td>
              <td>{{post.post_detail}}</td>

          {% endfor %}
        </tbody>
    </table>
<!--end of table-->
{% endblock contents %}