{% extends "apps_templates.html" %}

{% block contents %}
  <div class="page-header">
      Posts Title: <h4>{{posts.Simple_Flask_App.post_title}}</h4>
  </div>

  <div class="row">
      <div class="card">
          <div class="card-header">Posts Discrption</div>
          <div class="card-body">{{posts.Simple_Flask_App.post_detail}}</div>
      </div>

      <div class="card">
          <div class="card-header">Posts Status</div>
          
          {% if posts.Simple_Flask_App.is_public %}
              <div class="card-body">Status: Public</div>
              {% else %}
              <div class="card-body">Status: Private</div>
          {% endif %}
      </div>

      <div class="card">
          <div class="card-header">User</div>
          <div class="card-body">Active User: {{posts.User.email}}</div>
      </div>
  </div>
{% endblock contents %}