{% extends "apps_templates.html" %}

{% block contents %}
    <div class="container">
      <div class="page-header">
        <h2>All Public Post</h2>
    </div>
    <table class="table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Post Detail</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
            {% for post in posts %}
                <tr>
                    <td><a href="{{url_for('simple_flask.posts_detail', post_id=post.id)}}">{{post.post_title}}</a></td>
                    <td>{{post.post_detail}}</td>
                    <td>
                      <button class="btn btn-sm btn-danger"><a href="{{url_for('simple_flask.post_delete', post_id=post.id)}}">Delete Data</a></button>
                      <button class="btn btn-sm btn-info"><a href="{{url_for('simple_flask.edit_posts', post_id=post.id)}}">Edit Data</a></button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>   
{% endblock contents %}