{% extends "apps_templates.html" %}
{% from "_form_macros.html" import render_field with context %}
{% block contents %}
  <h2>Add New Post</h2>
  <!-- link static css -->
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">

  <form action="{{url_for('simple_flask.add_posts')}}" method="post" enctype="multipart/form-data">
      {{form.csrf_token}}

      <dl>
        {{render_field(form.post_title)}}
        {{render_field(form.post_detail)}}
        {{render_field(form.post_image)}}
      </dl>

      <!-- {{form.post_title(placeholder='Enter post Title')}}
      post title error handler -->

      <!-- <span class="error">
        
        {% if form.post_title.error %}
          {% for error in form.post_title.error %}
              {{error}}
          {% endfor %}
        {% endif %}
      </span>
        
      <span class="error">
        {{form.post_detail(placeholder='Enter Post Discription')}}
        post detail error handler -->
        
        <!-- {% if form.post_detail.error %}
          {% for error in form.post_detail.error %}
              {{error}}
          {% endfor %}
        {% endif %}
      </span> -->

      <button type="submit" class="btn btn-primary">Add Post</button>
  </form>
{% endblock contents %}