{% extends "apps_templates.html" %}

{% block contents %}
  <form action="{{url_for('simple_flask.upload_image')}}" enctype="multipart/form-data" method="POST">
    <input type="file" name="file">
    <input type="submit" value="upload image">
  </form>
{% endblock contents %}