{% extends "apps_templates.html" %}
{% from "_form_macros.html" import render_field %}

{% block contents %}
<div class="page-header">
    <h4>Administrative Page: List of User</h4>
</div>

<div class="row">
    <table class="table table-striped" id="admin_list_of_users">
        <thead>
            <tr class="table-dark">
                <th>User ID</th>
                <th>Email</th>
                <th>Role</th>
                <th>Registration Date</th>
                <th>Email Confirm Status</th>
                <th>Email Confirmed on</th>
                <th>Last Login</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
              <tr>
                  <td>{{user.id}}</td>
                  <td>{{user.email}}</td>
                  <td>{{user.role}}</td>
                  <td>{{user.registered_on}}</td>
                  <td>{{user.email_confirmed}}</td>
                  <td>{{user.email_confirmed_on}}</td>
                  <td>{{user.last_logged_in}}</td>
              </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock contents %}