{% extends "apps_templates.html" %}
{% from "_form_macros.html" import render_field %}

{% block contents %}
    <div class="container" style="margin-top: 30px;">
        <div class="page-header">
            <h2>Email Change</h2>
        </div>
    
        <h4>Current Email {{ current_user.email }}</h4>
        <p>Please Enter Your New Email</p>
        <form action="{{ url_for('users.user_email_change') }}" method="POST">
            {{form.csrf_token}}
            <dl>
                {{render_field(form.email, placeholder="Enter New Email Address")}}
            </dl>
            <button type="submit" class="btn btn-sm btn-success">Update Email</button>
        </form>
    </div>
{% endblock contents %}
