<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email Confirmation</title>
</head>
<body>
    <p>Your Account on Simple App Has Successfully Created Please click Link in bellow to activate your account</p>
    <a href="{{confirm_url}}">{{confirm_url}}</a>
    <p>thanks by pery1050@gmail.com</p>

</body>
</html>