<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Confirm</title>
</head>
<body>
    <p>Your Reset Password Requested has been ready, Please Click Link Bellow</p>
    <p><a href="{{password_reset_url}}">{{password_reset_url}}</a></p>
    <br>
    <p>Thanks for use our Application</p>
</body>
</html>