{% extends "apps_templates.html" %}
{% from "_form_macros.html" import render_field %}

{% block contents %}
  <div class="container" style="margin-top: 30px;">
    <div class="user-registration">
        <div class="page-header">
            <h4>Log In</h4>
        </div>
        <form action="{{url_for('users.show_login')}}" method="POST">
            {{form.csrf_token}}
            <dl>
                {{render_field(form.email, placeholder="Email Address")}}
                {{render_field(form.password, placeholder="Password")}}
            </dl>
            <button type="submit" class="btn btn-sm btn-success">Login</button>
        </form>
        <em>Need an Accounts?</em> <a href="{{url_for('users.register')}}">Register</a><br>
        <em>Forgot Password..? </em><a href="{{url_for('users.reset_password')}}">Reset Your Password</a>
    </div>
  </div>
{% endblock contents %}