{% extends "apps_templates.html" %}
{% from "_form_macros.html" import render_field %}

{% block contents %}
    <div class="container" style="margin-top: 30px;">
        <div class="page-header">
            <h2>Password Change</h2>
        </div>
    
        <p>Please Enter New Password</p>
        <form action="{{ url_for('users.user_password_change') }}" method="POST">
            {{form.csrf_token}}
            <dl>
                {{render_field(form.password, placeholder="Enter New Password")}}
            </dl>
            <button type="submit" class="btn btn-sm btn-info">Update Password</button>
        </form>
    </div>
{% endblock contents %}
