{% extends "apps_templates.html" %}
{% from "_form_macros.html" import render_field %}

{% block contents %}
  <div class="container" style="margin-top: 30px;">
    <div class="page-header">
        <h2>Email Address: </h2>
    </div>
    <form action="{{url_for('users.reset_password')}}" method="POST">
        {{form.csrf_token}}
        <dl>
            {{render_field(form.email, placeholder="Enter Your Email Address")}}
        </dl>
        <button class="btn btn-sm btn-success" type="submit">Submit</button>
    </form>
  </div>
{% endblock contents %}