{% extends "apps_templates.html" %}
{% from "_form_macros.html" import render_field %}

{% block contents %}
  <div class="user-profile">
      <div class="page-header">
          <h2>User Profile</h2>
      </div>
      
      <div class="row">
          <div class="col-sm-6">
              <div class="card">
                  <div class="card card-header">Email Address:</div>
                  <div class="card-body">{{current_user.email}}</div>
              </div>

              <div class="card">
                  <div class="card-header">Account Action</div>
                  <div class="card-body"><a href="{{ url_for('users.user_email_change') }}">Change Email</a></div>
                  <div class="card-body"><a href="{{ url_for('users.user_password_change') }}">Change Password</a></div>

                  
                  {% if not current_user.email_confirmed %}
                      <div class="card-body"><a href="{{url_for('users.resend_email_confirmation')}}">Resend Email Confirmation Again</a></div>
                  {% endif %}
                      
              </div>

              <div class="card">
                  <div class="card-header">Statistics</div>
                  <div class="card-body"> Member Since: {{current_user.registered_on.strftime("%A %B %d, %Y")}}</div>
                  
                  {% if current_user.last_logged_in != None %}
                      <div class="card-body">Last Logged In: {{current_user.last_logged_in.strftime("%A %B %d, %Y")}}</div>
                      
                  {% else %}
                    <div class="card-body">First Time Logged In, Welcome </div>
                  {% endif %}
                  
                  {% if current_user.email_confirmed %}
                    <div class="card-body">Email Confirmed on: {{current_user.email_confirmed_on.strftime("%A %B %d, %Y")}}</div>
                  {% else %}
                    <div class="card-body">Email has not been confirmed</div>
                  {% endif %}
                      
              </div>
          </div>
      </div>
  </div>
{% endblock contents %}