{% extends 'apps_templates.html' %}

{% from "_form_macros.html" import render_field %}

{% block contents %}
  <div class="container" style="margin-top: 30px;">
    <div class="user-registration">
        <div class="page-header">
            <h4>Please Register your accounts</h4>
        </div>
        <form action="{{url_for('users.register')}}" method="POST">
            {{form.csrf_token}}
            <dl>
                {{render_field(form.email, placeholder="Email Address")}}
                {{render_field(form.password, placeholder="Password")}}
                {{render_field(form.confirm, placeholder="Confirm Password")}}
            </dl>
            <button class="btn btn-primary btn-sm" type="submit">Create New Account</button>
        </form>
    </div>
  </div>
{% endblock contents %}