{% extends "apps_templates.html" %}
{% from "_form_macros.html" import render_field %}

{% block contents %}
  <div class="container" style="margin-top: 30px;">
    <div class="page-header">
        <h2>New Password: </h2>
    </div>
    <form action="{{url_for('users.reset_with_token', token=token)}}" method="POST">
        {{form.csrf_token}}
        <dl>
            {{render_field(form.password, placeholder="Enter New Password")}}
        </dl>
        <button type="submit" class="btn btn-sm btn-success">Update Password</button>
    </form>
  </div>
{% endblock contents %}